/* static/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-image: url('Optimize_your_training.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
}

.file-input {
    display: block;
    margin: 20px auto;
}

.upload-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #45a049;
}
